.beat {
    border: 1px solid #000;
}

.current {
    background-color: #35683c;
}

.selected {
    background-color: #4d4d4d;
}

.hasdata {
    border: 1px solid #003304;
}

#song {
flex: 1 1 auto;
padding: 10px;
}

div.segment {
    display: block;
}

div.bars {
    display: block;
    text-align: left;
}

div.bars>div {
}


div.bar {
    display: inline-block;
}

div.bar>div {
}

